<h1>We played scissors!</h1>

<h1>They played <%= @computer_answer %>!</h1>

<% if @computer_answer == "scissors" %>

<h1><%= "We tied!" %></h1>

<% elsif @computer_answer == "paper" %>

<h1> <%= "We win!" %> </h1>

<% else %>

<h1><%= "We lost!" %></h1>

<% end %>

<a href="/">Rules</a>
